autokeras
catboost
dash
dask[complete]
elyra
feast
featuretools 
graphviz
imbalanced-learn
kaggle
networkx
numpy
optuna
pandas-profiling[notebook]
plotly
pycaret
shap
spacy
statsmodels
# tensorboard
tensorflow>=2.6
# tensorflow-cloud
# tensorflow-datasets
# tensorflow-io
# tensorflow-probability
# tensorflow-text
# tensorflow-decision-forests
# tensorflow_hub
# tfx
tqdm
tsfresh
wordcloud
xgboost
yellowbrick