black
cookiecutter
coverage
cython
dask-labextension
glances
invoke
ipytest
ipywidgets
isort
jupyter-dash
jupyter-resource-usage
jupyter-server-proxy
jupyterlab-drawio
jupyterlab-quickopen
jupyterlab-spellchecker
jupyterlab_code_formatter
jupyterlab_tensorboard
jupytext
mypy
nb_conda
nbconvert
nbdime
nbformat
pandas
papermill
pylint
pytest
RISE
setuptools
voila
wheel
witwidget